* {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 50px;
	font-style: bold;
	color: white;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 18px;
}

#error {
	color: red;
}

body {
	background-color: #E7F3FB;
	/* max-width:1000px; */
	margin:auto;
}

.content {
	margin:auto;
	max-width:1000px;
}



.jumbotron {
	width:100%;
	height: 35vh;
	display:table;
}
   
.bg-image {
	background: url('/static/img/cover2.jpeg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/* background-color: lightgrey; */
	background-size: cover;
}

.jumbotron .container {
	display:table-cell;
	vertical-align:middle;
	text-align: center;
}

table {
	background-color: white;
}

.input-table {
	background-color: #E7F3FB;
}

img {
	max-width: 95%;
}

#calctable {
	margin-left: -100px !important;
	background-color: #AFB7C1;
	text-align: center;
	border-radius: 4px;
	/* padding-right: 10px; */
	width: 1200px;
	height: 500px;
}

#dispfunc {
	font-size: 20px;
	width: 250px;
	/* background-color: #bcbd95; */
}

/* #textbutton {
	font-size: 20px; */
	/* width: 100px; */
	/* height: 40px;
} */

/* #derbutton {
	font-size: 20px;
	width: 75px;
	height: 40px;
} */

.invar {
	background-color: #E270E9;
}

#calc {
	position: relative;
	left: 5px;
	top: 5px;
	color: #495069;
	background-color: #fff;
	border-radius: 4px;
	width: 70px;
	height: 60px;
	font-size: 20px;
	box-shadow: 0 4px rgba(0, 0, 0, .2);
	margin-bottom: 15px;
}


#forward {
	float: left;
	width: 50%;
}

#reverse {
	float: left;
	width: 50%;
}



.tooltip-inner {
	max-width: 450px !important;
	font-size: 16px;
	text-align: left;
}


.hidden { 
	display:none;
}