{% extends "layout.html" %}

	
	{% block script %} 
	<script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
	{% endblock %}

	{% block heading %}
	Automatic Differentiation Visualization Tool<br><small style="font-size:38px;">Function Definition</small> 
	{% endblock %}
	
	{% block body %}
	<p>Click on the calculator buttons below to define your function(s), in a standard calculator syntax. <br>Input variables are located at the last row. 
	<ul>
	 <li><b>Edit f</b>: Choose which function to define. </li>
	 <li><b>Clear Function</b>: Clear a selected function. </li>
	 <li><b>Calculate</b>: Click when you are finished with defining all your functions! </p></li>
	</ul>
	{% if errors %}
	<div class="alert alert-danger" role="alert">
		{{ errors }}
	</div>
	{% endif %}
	
		<table id='calctable'>
			<form name="calculator" method="post" action="{{ url_for('press_calculator') }}">
			<tr>
				<td style='padding-top:20px;' colspan="5">
					<p><b>$f_1$({{flabels[ins]}}):</b><br><input id='dispfunc' style='background-color:#87ceeb;' type="text" readonly name="f1" id="f1" value={{func_content[0]}}>
					<input id='textbutton' type="submit" name="action" value ="Edit f1"></p>
				</td>
				{% if outs>1 %}
				<td style='padding-top:20px;' colspan="5">
					<p><b>$f_2$({{flabels[ins]}}):</b><br><input id='dispfunc' type="text" readonly name="f2" id="f2" value={{func_content[1]}}>
					<input id='textbutton' type="submit" name="action" value ="Edit f2"></p>
				</td>
				{% endif %}
				{% if outs>2 %}
				<td style='padding-top:20px;' colspan="5">
					<p><b>$f_3$({{flabels[ins]}}):</b><br><input id='dispfunc' type="text" readonly name="f3" id="f3" value={{func_content[2]}}>
					<input id='textbutton' type="submit" name="action" value="Edit f3"></p>
				</td>
				{% endif %}
			</tr>
				<tr>
					<td><input id='calc' type="submit" name="action" value="sin"></td>
					<td><input id='calc' type="submit" name="action" value="cos"></td>
					<td><input id='calc' type="submit" name="action" value="tan"></td>
					<td><input id='calc' type="submit" name="action" value="exp"></td>
					<td><input id='calc' type="submit" name="action" value="log"></td>
			</tr>
 			<tr>
					<td><input id='calc' type="submit" name="action" value="sinh"></td>
					<td><input id='calc' type="submit" name="action" value="cosh"></td>
					<td><input id='calc' type="submit" name="action" value="tanh"></td>
					<td><input id='calc' type="submit" name="action" value="sig"></td>
					<td><input id='calc' type="submit" name="action" value="relu"></td>
			</tr>
	
				<tr>
					<td><input id='calc' type="submit" name="action" value="7"></td>
					<td><input id='calc' type="submit" name="action" value="8"></td>
					<td><input id='calc' type="submit" name="action" value="9"></td>
					<td><input id='calc' type="submit" name="action" value="+"></td>
					<td><input id='calc' type="submit" name="action" value="^"></td>
			</tr>
				<tr>
					<td><input id='calc' type="submit" name="action" value="4"></td>
					<td><input id='calc' type="submit" name="action" value="5"></td>
					<td><input id='calc' type="submit" name="action" value="6"></td>
					<td><input id='calc' type="submit" name="action" value="-"></td>
					<td><input id='calc' type="submit" name="action" value="sqrt"></td>
			</tr>
				<tr>
					<td><input id='calc' type="submit" name="action" value="1"></td>
					<td><input id='calc' type="submit" name="action" value="2"></td>
					<td><input id='calc' type="submit" name="action" value="3"></td>
					<td><input id='calc' type="submit" name="action" value="*"></td>
					<td><input id='calc' type="submit" name="action" value="("></td>
			</tr>
				<tr>
					<td><input id='calc' type="submit" name="action" value="0"></td>
					<td><input id='calc' type="submit" name="action" value="."></td>
					<td><input id='calc' type="submit" name="action" value="&#11013"></td>
					<td><input id='calc' type="submit" name="action" value="/"></td>
					<td><input id='calc' type="submit" name="action" value=")"></td>
			</tr>
			<tr>
					<td><input id='calc' class='invar' type="submit" name="action" value="x0"></td>
					{% if ins>1 %} 
					<td><input id='calc' class='invar' type="submit" name="action" value="x1"></td>
					{% endif %}
					{% if ins>2 %}
					<td><input id='calc' class='invar' type="submit" name="action" value="x2"></td>
					{% endif %}
					{% if ins>3 %}
					<td><input id='calc' class='invar' type="submit" name="action" value="x3"></td>
					{% endif %}
					{% if ins>4 %}
					<td><input id='calc' class='invar' type="submit" name="action" value="x4"></td>
					{% endif %}
			</tr>
			</form>
			
			<tr>
				<form method="post" action="{{ url_for('calculate') }}" >
				<td style="padding-bottom:20px;" colspan="5">
					<input id='textbutton' type ="submit" name="action" value="Calculate">
				</td>
				</form>
				<form method="post" name='clear-function' action="{{ url_for('clear_function_calculator') }}" >
				<td style="padding-bottom:20px;" colspan="5">
					<input id='textbutton' type ="submit" name="action" value="Clear Function">
				</td>
				</form>
			</tr>
			
		</table>
	
	{% endblock %}
