<html>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
	<body>
		Use this window to visualize how automatic differentiation is performed on your function.

		First, type numbers into the boxes to set values for the input variables.  Press 'Set Input Values' to calculate the value and derivative of your function at this point.

		After setting the input values, you can visualize the computational graph and evaluation table associated with each function in forward mode.  Press the button corresponding to the function you want to analyze under each heading.  You can also dynamically visualize the steps in the calculation of a derivative in reverse mode or view the entire reverse graph.
		
		{{errors}}
		
		<p> f1({{flabels[ins]}})= {{func_content[0]}} </p>
	
		{% if outs>1 %}
		<p> f2({{flabels[ins]}}) = {{func_content[1]}} </p>
		{% endif %}


		{% if outs>2 %}
		<p> f3({{flabels[ins]}}) = {{func_content[2]}} </p>
		{% endif %}

		<form method="post" action="./graphwindow">
		<table>
			<tr>
				<td>
					x=<input name="x" value={{var_strs['x']}}>
				</td>
				{% if ins>1 %}
				<td>
					y=<input name="y" value = {{var_strs['y']}}>
				</td>
				{% endif %}
				{% if ins>2 %}
				<td>
					z=<input name="z" value = {{var_strs['z']}}>
				</td>
				{% endif %}
				{% if ins>3 %}
				<td>
					u=<input name="u" value = {{var_strs['u']}}>
				</td>
				{% endif %}
				{% if ins>4 %}
				<td>
					v=<input name="v" value = {{var_strs['v']}}>
				</td>
				{% endif %}
			</tr>
		</table>
		<input type="submit" name="action" value="Set Input Values">
		</form>

		{% if full %}
		<p> Function value: {{val}} </p>
		<p> Function gradient: {{der}} </p>

		<form method="post" action="./graphwindow">
		<div id="container">	
			<div id="forward">
				<p>FORWARD MODE</p>
				<p>Computational Graph</p>
				<p>
					<button type="submit" name="action" value="graph0">f1</button>
					{% if outs>1 %}
					<button type="submit" name="action" value="graph1">f2</button>
					{% endif %}
					{% if outs>2 %}
					<button type="submit" name="action" value="graph2">f3</button>
					{% endif %}
				</p>
				<p>Evaluation Table</p>
				<p>
					<button type="submit" name="action" value="table0">f1</button>
					{% if outs>1 %}
					<button type="submit" name="action" value="table1">f2</button>
					{% endif %}
					{% if outs>2 %}
					<button type="submit" name="action" value="table2">f3</button>
					{% endif %}
				</p>
			</div>
			<div id="reverse">
				<p>REVERSE MODE</p>
				<p>Reverse Graph</p>
				<p>
					<button type="submit" name="action" value="rgraph0">f1</button>
					{% if outs>1 %}
					<button type="submit" name="action" value="rgraph1">f2</button>
					{% endif %}
					{% if outs>2 %}
					<button type="submit" name="action" value="rgraph2">f3</button>
					{% endif %}
				</p>
				<p>Visualize Reverse Calculations</p>
				<p>
					<button type="submit" name="action" value="dyn00">df1/dx</button>
					{% if ins>1 %}
					<button type="submit" name="action" value="dyn01">df1/dy</button>
					{% endif %}
					{% if ins>2 %}
					<button type="submit" name="action" value="dyn02">df1/dz</button>
					{% endif %}
					{% if ins>3 %}
					<button type="submit" name="action" value="dyn03">df1/du</button>
					{% endif %}
					{% if ins>4 %}
					<button type="submit" name="action" value="dyn04">df1/dv</button>
					{% endif %}
				</p>
				{% if outs>1 %}
				<p>
					<button type="submit" name="action" value="dyn10">df2/dx</button>
					{% if ins>1 %}
					<button type="submit" name="action" value="dyn11">df2/dy</button>
					{% endif %}
					{% if ins>2 %}
					<button type="submit" name="action" value="dyn12">df2/dz</button>
					{% endif %}
					{% if ins>3 %}
					<button type="submit" name="action" value="dyn13">df2/du</button>
					{% endif %}
					{% if ins>4 %}
					<button type="submit" name="action" value="dyn14">df2/dv</button>
					{% endif %}
				</p>
				{% endif %}
				{% if outs>2 %}
				<p>
					<button type="submit" name="action" value="dyn20">df3/dx</button>
					{% if ins>1 %}
					<button type="submit" name="action" value="dyn21">df3/dy</button>
					{% endif %}
					{% if ins>2 %}
					<button type="submit" name="action" value="dyn22">df3/dz</button>
					{% endif %}
					{% if ins>3 %}
					<button type="submit" name="action" value="dyn23">df3/du</button>
					{% endif %}
					{% if ins>4 %}
					<button type="submit" name="action" value="dyn24">df3/dv</button>
					{% endif %}
				</p>
				{% endif %}
			</div>
		</div>
		</form>
		{% endif %}
		{% if show_table %}
		{{tables|safe}}
		{% endif %}
	</body>
</html>
