<html>
	<body>
		Use this window to visualize how automatic differentiation is performed on your function.

		First, type numbers into the boxes to set values for the input variables.  Press 'Set Input Values' to calculate the value and derivative of your function at this point.

		After setting the input values, you can visualize the computational graph and evaluation table associated with each function in forward mode.  Press the button corresponding to the function you want to analyze under each heading.  You can also dynamically visualize the steps in the calculation of a derivative in reverse mode or view the entire reverse graph.
		
		{{errors}}
		
		<p> f1({{flabels[ins]}})= {{func_content[0]}} </p>
	
		{% if outs>1 %}
		<p> f2({{flabels[ins]}}) = {{func_content[1]}} </p>
		{% endif %}


		{% if outs>2 %}
		<p> f3({{flabels[ins]}}) = {{func_content[2]}} </p>
		{% endif %}

		<form method="post" action="./graphwindow">
		<table>
			<tr>
				<td>
					x=<input name="x" value={{var_strs['x']}}>
				</td>
				{% if ins>1 %}
				<td>
					y=<input name="y">
				</td>
				{% endif %}
				{% if ins>2 %}
				<td>
					z=<input name="z">
				</td>
				{% endif %}
				{% if ins>3 %}
				<td>
					u=<input name="u">
				</td>
				{% endif %}
				{% if ins>4 %}
				<td>
					v=<input name="v">
				</td>
				{% endif %}
			</tr>
		</table>
		<input type="submit" name="action" value="Set Input Values">
		</form>

		{% if full %}
		<p> Next steps to add lots of buttons!!! <\p>
		{% endif %}
	</body>
</html>
