{% extends "layout.html" %}


	{% block script %} 
	<script src="{{ url_for('static', filename='js/welcome.js') }}"></script>
	{% endblock %}
	
	{% block heading %} 
	Automatic Differentiation Visualization Tool 
	{% endblock %}
	{% block body %}
		<br>
		<p>Welcome! Let's visualize the calculations and computational structure that underlie <a href="https://auto-ed.readthedocs.io/en/latest/" target="_blank" data-toggle="tooltip" 
			data-container="body" title="To learn more about the theory behind automatic differentiation, this tool can be used in conjunction with a set of basic modules on automatic differentiation available in the ReadtheDocs page.">
			automatic differentiation.</a> 
		<br>To get started, plrease specify the number of input variables and output functions that you would like to visualize. </p>
		<p style="font-size:16px;"> ⚠️: This tool only supports up to 3 output functions and up to 5 function input variables.  For more complex functions, please use the ADnum, ADmath, and ADgraph modules from the Auto-eD repository.</p>
		<!-- <p id='error'>{{errors}}</p> -->
		{% if errors %}
		<div class="alert alert-danger" role="alert">
			{{ errors }}
		</div>
		{% endif %}
		<form method="post" action=".">
			<p><b>Number of input variables:</b> <input name="inputs" size="1" /></p>
			<p><b>Number of output functions:</b> <input name="outputs" size="1" /></p>
			<p><input id='textbutton' class="btn btn-primary btn-lg" type="submit" value="Next"/></p>
		</form>


	{% endblock %}
